<div class="container">
  <div class="well">
    <%= link_to 'New Course', new_course_path, class: 'btn btn-primary', remote: true   %>
  </div>

  <div class="new-course"></div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Code</th>
        <th>Title</th>
        <th>Description</th>
        <th>Credits</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody class="course-index">
      <%= render "index" %>
    </tbody>
  </table>
</div>

<div id="course-modal" class="modal fade">
  <div class="modal-dialog">
    <div id="inner-course-modal" class="modal-content"></div>
  </div>
</div>


