
<div class="modal hide fade" id="modal-window">
  <div class="modal-header">
    <a href="#" class="close">×</a>
  </div>

  <div class="modal-body center">
    <h2><%= "##{@course.code}-#{@course.title}" %></h2>
    <%= @course.credits %>
    <%= @course.description %>
  </div>

  <div class="modal-footer">&nbsp;</div>
</div>
 
